@model IList<SuggestionBox.Models.SuggestionModel>

@foreach(var m in Model)
{
	<div class="row">
		<div class="span1">@(Html.ActionLink("View", "View", new { id = m.Id }))</div>
		<div class="span11"><strong>@m.Title</strong> suggested on @m.Date.ToShortDateString() with <span class="badge">@m.Comments.Count</span> comments, <strong>@m.Status</strong></div>
	</div>
    
    <hr/>
}