@model IList<SuggestionBox.Models.SuggestionModel>

@foreach(var m in Model)
{
    <div class="row">
        <div class="span12"><strong>@(Html.ActionLink(m.Title, "View", new { id = m.Id }))</strong> - <strong>@m.Status</strong><br />Suggested on @m.Date.ToShortDateString() with <span class="badge">@m.Comments.Count</span> comments, last comment made on @m.LastActivity</div>
    </div>
    
    <hr/>
}